//- Input field
    Usage: +input("Type something here...")
    CSS: .input

    placeholder - [string] placeholder to be show if field is empty
    value       - [string] optional default value of field

mixin input(placeholder, value)
    input.input(placeholder=placeholder value=value)&attributes(attributes)
