//- SVG Icon to be used with SVG sprite
    Usage: +svg-icon("twitter", 32)
    CSS: .icon
    
    name   - [string] name of icon without prefix
    size   - [integer] icon size in px
    sprite - [string] path to SVG sprite
    prefix - [string] prefix of icon name

mixin svg-icon(name, size)
    - var size = size || 24;
    - var sprite = "/assets/svg/icons.svg"
    - var prefix = "icon-"
    
    span.icon(aria-hidden="true")&attributes(attributes)
        svg(viewBox='0 0 ' + size + ' ' + size width=size height=size)
            use(xlink:href='/assets/svg/icons.svg#icon-' + name)
